.playbill
  .time_col
    .month= month
    .day= day
    .time= weektime
  .title_col
    .age= age
    .about= author
    .playname= playlabel()
  .place_col
    %a(href=stage)
      .station= station
      .place= place
      .addr= addr
