.playbill
  .time_col
    .month= month
    .day= day
    .time=  time
  .title_col
    .age= age
    .about= about
    .playname
      %a(href=page)
        = playname
  .place_col
    .station= station
    .place= place
    .addr= addr
