<!DOCTYPE html>
%html{:lang => "ru"}
  %head= elem("head")
  %body
    .overlay
    %header= elem("header")
    .content
      .container
        .links
          %ul= links()
        = content()
        .gohome
          %a{:href => "/index.html"} На главную
    %footer= elem("footer")
